.header {
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 6rem;
  color: white;
  -webkit-text-stroke: 3px #000;
  text-shadow: 5px 5px 0px #000;
}

.todosList {
  width: 35%;
  min-width: 24rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 2rem;
  width: 100%;
}

.emptyTodoState {
  text-align: center;
  border: 3px solid #2d2d2d;
  padding: 2rem;
  background-color: #fff;
  border-radius: 6px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .header {
      font-size: 3.5rem;
    }

    .todosList {
      min-width: 0;
      padding-inline: 1rem;
      width: 100%;
    }
}